/* Fichero de estilos para Arenas.jsx */
.background-arenas {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  background: url('../images/background.jpg') no-repeat center/cover;
}

/* Formato del sidebar cuando está cerrado */
.sideArenas {
  position: fixed;
  z-index: 999;
  top: 0;
  left: -300px;
  bottom: 0;
  background-color: #fff;
  transition: left 0.7s ease;
}
/* Formato del sidebar cuando está abierto */
.sideArenas.open {
  left: 0;
}

/* Formato del botón de apertura del sidebar cuando este no se está mostrando */
.sideMenuButton {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  visibility: visible;
  transform: translate(30px, 30px);
  background-color: transparent;
  opacity: 1;
  transition: opacity 0.7s ease;
}
/* Formato del botón de apertura del sidebar cuando este se está mostrando */
.sideMenuButton.hidden {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  visibility: visible;
  transform: translate(30px, 30px);
  background-color: transparent;
  opacity: 0;
}

.arenas-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* Recuadro en verde que contiene el listado de arenas*/
.arenas-container.center{
  width: 65%;
  height: 50%;
  color: white;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  background-color: #506C64;
}

/* Recuadro en verde cuando se hace focus a uno de los tableros */
.arenas-container-popUp{
  width: 65%;
  height: 70%;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  background-color: #506C64;
}

/* Título de la página */
.pageTitleArenas {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: "Anta", sans-serif;
  font-size: 24px;
  padding: 25px 30px;
  font-weight: 600;
  font-style: normal;
  background-color: #ff8e0d;
  border: solid 1px #fff;
  border-radius: 8px;
  transform: translateY(-40%);
}

/* Mensaje que aparece encima de los tableros */
.message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  color: #333;
  pointer-events: none; /* Ensures the message doesn't interfere with mouse events */
}

/* Listado de las arenas */
.lista-arenas {
  position: relative;
  display: inline-block;
  margin: 10px;
}
.imagenArena {
  width: 200px; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
  transition: transform 0.3s ease;
}
.imagenArena:hover {
  transform: scale(1.1);
}
.boton-arenas {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

/* Botón de atrás */
.atras {
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.atras-boton{
  padding: 0;
  border: none;
  cursor: pointer;
  margin-top: 15px;
  background-color: transparent;
}

/* Información acerca de la arena */
.arenaInfo {
  height: 90%;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.arenaInfo.text{
  height: 60%;
  width: 80%;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px white;
}

.arenaInfo.list {
  list-style: circle;
  width: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

/* Display de la arena en grande */
.arenaPopUp {
  height: 90%;
  width: 55%;
  background-color: green;
}
.imagenPopUp {
  width: 100%;
  height: 100%;
}