/* Fichero de estilos para BattlePass.jsx */
.background-battlePass {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  background: url('../images/background.jpg') no-repeat center/cover;
}

.side{
  display: flex;
  height: 100vh;
}

/*  */
.battlePass-container{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.battlePass-user {
  margin-bottom: 20px;
}

.recompensas{
  width: 75vw;
  height: 35vh;
  border: solid 2px black;
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
}

.list {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow-x: scroll;
  background-color: purple;
}

.list > li{
  width: 200px;
  height: 100%;
  color: white;
  margin-right: 5px;
  font-weight: bolder;
  box-sizing: border-box;
  border: solid 1px white;
  display: inline-block;
}

.list > li .itemLocked {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: red;
}
.list > li .itemUnlocked {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: blue;
}
.list > li .itemClaimed {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: limegreen;
}

.claim-button {
  padding: 4px;
  cursor: pointer;
  color: black;
  font-size: large;
  border-radius: 8px;
  border: solid 1px black;
  transition: 0.2s ease;
  background-color: #ff8e0d;
}

.claim-button:disabled:hover {
  cursor: not-allowed;
}

.claim-button:hover {
  color: white;
  background-color: chocolate;
}

.claim-all-button{
  position: fixed;
  cursor: pointer;
  padding: 4px;
  font-size: 28px;
  border: solid 1px black;
  border-radius: 8px;
  transform: translateY(700%);
  background-color: aqua;
}

.claim-all-button:hover {
  background-color: #ff8e0d;
}