/* Casilla.css */
.casilla-base {
    /* Center horizontally */
    height: 90px;
    width: 100%;

    border: none;
    transition: background-color 0.3s;
    /* Agregamos una transición suave */
}

.casilla-base:hover{
    background-color: aqua;
}
