/* Game.css */
@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

/* Centra el tablero y los cuadros informativos de cada jugador */
.game{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-background{
    background-color: #312D2D;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

/* Centra el tablero a la mitad de la pantalla */
.game-screen{
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/* Cuadro informativo del modo de juego al que se está jugando */
.game-info {
    width: 15vw;
    height: 7vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(255, 142, 13);
    border: solid 1px #fff;
    border-radius: 8px;
}

/* Chat del juego */
.game-chat-box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25vw;
    height: 80vh;
}

.game-chat{
    background-color: whitesmoke;
    height: 60vh;
    width: 20vw;
}

.game-menu{
    width: 25vw;
    height: 100vh;
}

.game-menu-sidebar{
    background-color: aquamarine;
    width: 11vw;
    height: 100vh;
}
/* Cuadro informativo */
.game-box {
    margin: 5px;
    border: 2px solid #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 42vw; /* Ajustar en función del tamaño del tablero final */
    background-color: #7ca15a;
}

/* !!!!!!!! Quitar cuando este listo el tablero !!!!!!!!!!! */
.tablero{
    height: 60vh;
    width: 42vw;
    border: solid 1px #fff;
}
  
/* Cuadro informativo acerca del jugador */
.game-box-players{
    padding: 4px;
    width: 12vw;
}

/* Nombre del jugador */
.game-box-players-name{
    color: #fff;
    padding: 4px; 
    display: flex;
    justify-content: center;
    font-weight: bold;
}

/* Color de ficha del jugador */
.game-box-players-token{
    color: #fff;
    margin-top: 2px;
    display: flex;
    justify-content: center;
}

/* Cuadro informativo acerca del tiempo */
.game-box-time{
    color: #fff;
    width: 12vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

/* Cuadro informativo acerca de las fichas comidas */
.game-box-tokenEaten{
    color: #fff;
    width: 12vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
