/* Game.css */
@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

/* Alineamiento de cada uno de los componentes de la pantalla */
.game{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.game-background{
    background-color: #312D2D;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.game-screen{
    width: 45vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/* Cuadro informativo del modo de juego al que se está jugando */
.game-mode-info {
    width: 15vw;
    height: 7vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: "Anta", sans-serif;
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    background-color: rgb(255, 142, 13);
    border: solid 1px #fff;
    border-radius: 8px;
}

/* Chat del juego */
.game-chat-box{
    display: flex;
    flex-direction: column;
    justify-content: left;
    justify-content: center;
    width: 25vw;
    height: 100vh;
    background-color: pink;
}
.game-chat{
    background-color: whitesmoke;
    height: 60vh;
    width: 20vw;
}
.game-options{
    background-color: red;
    height: 10vh;
    width: 20vw;
}

/* Menu lateral (sidebar) */
.game-menu{
    background-color: pink;
    height: 100vh;
}

.sliding-div{
    overflow: hidden;
    transition: transform 0.7s ease;
    transform: translateX(-100%);
    background-color: red;
    height: 93vh;
}

.sliding-div.visible{
    transform: translateX(0);
    height: 100vh;
    background-color: red;
}

/* Botón que abre el menu lateral */
.game-button-menu{
    cursor: pointer;
    padding: 4px;
    border: none;
    background-color: transparent;
    transform: translate(30px,30px);
}

.game-button-close-menu{
    position: absolute;
    z-index: 2;
    cursor: pointer;
    padding: 4px;
    border: none;
    background-color: transparent;
    transform: translate(145px);
}

/* Cuadro informativo */
.game-info {
    margin: 5px;
    border: 2px solid #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 42vw; /* Ajustar en función del tamaño del tablero final */
    background-color: #7ca15a;
}

/* !!!!!!!! Quitar cuando este listo el tablero !!!!!!!!!!! */
.tablero{
    height: 60vh;
    width: 42vw;
    border: solid 1px #fff;
}
  
/* Cuadro informativo acerca del jugador */
.game-info-players{
    padding: 4px;
    width: 12vw;
}

/* Nombre del jugador */
.game-info-players-name{
    color: #fff;
    padding: 4px; 
    display: flex;
    justify-content: center;
    font-weight: bold;
}

/* Color de ficha del jugador */
.game-info-players-token{
    color: #fff;
    margin-top: 2px;
    display: flex;
    justify-content: center;
}

/* Cuadro informativo acerca del tiempo */
.game-info-time{
    color: #fff;
    width: 12vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

/* Cuadro informativo acerca de las fichas comidas */
.game-info-tokenEaten{
    color: #fff;
    width: 12vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
