/* Fichero de estilos para Historial.jsx */
.background-historial {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background: url('../images/background.jpg') no-repeat center/cover;
}

/* Formato del sidebar cuando está cerrado */
.sideHistorial {
  position: fixed;
  z-index: 999;
  top: 0;
  left: -300px;
  bottom: 0;
  background-color: #fff;
  transition: left 0.7s ease;
}
/* Formato del sidebar cuando está abierto */
.sideHistorial.open {
  left: 0;
}

.titleHistorial {
  width: 100%;
  height: 15vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Formato del botón de apertura del sidebar cuando este no se está mostrando */
.sideMenuButton {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  visibility: visible;
  transform: translate(30px, 30px);
  background-color: transparent;
  opacity: 1;
  transition: opacity 0.7s ease;
}
/* Formato del botón de apertura del sidebar cuando este se está mostrando */
.sideMenuButton.hidden {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  visibility: visible;
  transform: translate(30px, 30px);
  background-color: transparent;
  opacity: 0;
}
/* Título de la página */
.pageTitleHistorial {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: "Anta", sans-serif;
  font-size: 24px;
  padding: 25px 30px;
  font-weight: 600;
  font-style: normal;
  background-color: #ff8e0d;
  border: solid 1px #fff;
  border-radius: 8px;
}

.historial-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Recuadro en verde que contiene el listado de arenas*/
.historial-container.center{
  width: 65%;
  height: 70%;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 10px;
  overflow-y: auto;
  background-color: #506C64;
}

.menuDeslizante {
  height: 90%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.menuDeslizanteContenido {
  height: 90%;
  width: 98%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  border-radius: 20px;
  border: solid 1px white;
}
.menuDeslizantePagina {
  display: flex;
  flex-direction: row;
}

.historialPartidas {
  width: 25%;
  height: 25%;
  margin: 10px;
  border-radius: 10px;
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.historialPartidas.Victoria { 
  background-color: green;
}
.historialPartidas.Derrota {
  background-color: red;
}
.historialPartidas.Estado {
  width: 100%;
  margin: 0;
  font-size: 20px;
  font-weight: bolder;
  text-decoration: underline;
  border: none;
}
.historialPartidas.Fecha {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  border: none;
}
.historialPartidas.Puntos {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
  border: none;
}