.Home {
  display: flex;
  height: 100vh;
  width: 100vw;
  background: url('../images/background.jpg') no-repeat center/cover;
}

.appbar {
  width: 100%;
  height: 10%;
}

.cuerpo-home{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.side {
  background-color: #f0f0f0;
}

.middle {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle-recuadros {
  display: flex;
  justify-content: center;
  
}

.profile-home{
  background-color: pink;
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: center;
  width: 50vw;
  height: 80vh;
}