.mainContainer {
    height: 100vh;
    width: 100vw;
    /*background-color: #312D2D;*/
    background: url('../images/background.jpg') no-repeat center/cover; 
}
.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; /* Ajusta el ancho según sea necesario */
    height: 60vh; /* Ajusta la altura según sea necesario */
}
.title {
    /* Fuente y color para el titulo */
    color: #FFFFFF;
    font-family: "Oswald", sans-serif;
    font-size: 36px;
}

.form-login{
    background-color: rgb(255, 142, 13);
    width: 40vw;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.form-login input{
    padding: 10px;
    border-radius: 1 solid;
}
h3{
    font-size: 30px;
}
.registrate{
    cursor: pointer;
}