/* Navbar.css */
/* fuente */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.navbar {
    background-color: #1F1F1F;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Mantiene el titulo a la izquierda y el avatar a la derecha*/
    padding: 20px;
}

/* Título del navbar */
.navbar-title{
    /* Fuente y color para el titulo */
    color: #FFFFFF;
    font-family: "Oswald", sans-serif;
    font-size: 36px;
}

/* Avatar del usuario */
.navbar-user-button {
    background-color: transparent;
    border: none;
    margin-right: 100px; /* Desplaza el avatar del usuario a la izquierda */
    cursor: pointer;
}

.navbar-login-button{
    color: #FFFFFF;
    padding: 10px;
    margin-right: 40px;
    cursor: pointer;
    font-size: 20px;
}