/* Fichero de estilos para Personalizacion.jsx */

.fondoPersonalizacion {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background: url('../images/background.jpg') no-repeat center/cover;
}

/* Formato del sidebar cuando está cerrado */
.sidePersonalizacion {
  position: fixed;
  z-index: 999;
  top: 0;
  left: -300px;
  bottom: 0;
  background-color: #fff;
  transition: left 0.7s ease;
}
/* Formato del sidebar cuando está abierto */
.sidePersonalizacion.open {
  left: 0;
}

/* Div superior que contiene el título y el botón de sideBar */
.titlePersonalizacion {
  width: 100%;
  height: 15vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Título de la página */
.pageTitlePersonalizacion {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: "Anta", sans-serif;
  font-size: 24px;
  padding: 25px 30px;
  font-weight: 600;
  font-style: normal;
  background-color: #ff8e0d;
  border: solid 1px #fff;
  border-radius: 8px;
}

/* Formato del botón de apertura del sidebar cuando este no se está mostrando */
.sideMenuButtonPersonalizacion {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  visibility: visible;
  transform: translate(30px, 30px);
  background-color: transparent;
  opacity: 1;
  transition: opacity 0.7s ease;
}

/* Formato del botón de apertura del sidebar cuando este se está mostrando */
.sideMenuButtonPersonalizacion.hidden {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  visibility: visible;
  transform: translate(30px, 30px);
  background-color: transparent;
  opacity: 0;
}

.containerPersonalizacion {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Recuadro en verde que contiene el listado de arenas*/
.containerPersonalizacion.center{
  width: 65%;
  height: 70%;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 10px;
  overflow-y: auto;
  background-color: #506C64;
}

.menuDeslizante {
  height: 90%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.menuDeslizanteContenido {
  height: 80%;
  width: 98%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  border-radius: 20px;
  border: solid 1px white;
}
.menuDeslizantePagina {
  display: flex;
  flex-direction: row;
}

/* Boton con el que se selecciona el contenido a mostrar (fichas o emoticonos) */
.contenidoButton {
  font-size: 24px;
  color: white;
  cursor: pointer;
  padding: 4px 8px;
  border: none;
  background-color: transparent;
}
.contenidoButton.selected {
  text-decoration: underline;
}

.listadoImagenes {
  width: 50px;
  height: 50px;
}