.tablero {
  height: 70vh;
  width: 42vw;
  padding-bottom: 4px;
  /* border: solid 1px #fff;
  margin-bottom: 25px; */
}
.tablero.rotated{
  transform: rotate(180deg);
}
.filatab {
  display: flex;
  height: 100%;
  /* Ajusta la altura para que todas las filas ocupen el mismo espacio */
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.opciones-modal-tablero{
  display: flex;
}
.opciones-modal-tablero > *{
font-size: 20px;
  margin-bottom: 10px;
  margin: 10px;
  padding: 10px;
}
.opciones-modal-tablero>*:hover {
  background-color: #e2dddd;
}
.modal{
  padding: 40px; 
  padding-right: 4%;
}