.tablero {
  height: 70vh;
  width: 42vw;
  padding-bottom: 4px;
  /* border: solid 1px #fff;
  margin-bottom: 25px; */
}
.tablero.rotated{
  transform: rotate(180deg);
}
.filatab {
  display: flex;
  height: 100%;
  /* Ajusta la altura para que todas las filas ocupen el mismo espacio */
}